@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    box-shadow: 1px 2px 3px grey;
}

.navbar-collapse{
    margin-left: 30%;
}

.nav-link{
    font-family: 'Dancing Script', cursive;
    font-size: 25px !important;
    font-weight: 500;
    color: black !important;
}


footer{
    color: rgb(37, 34, 34);
    font-family: 'Dancing Script', cursive;
    font-size: 45px !important;
    border-top: 1px solid grey;
}

h3{
    font-family: sans-serif;
}